* {
    margin: 0;
    padding: 0;
}

#Box {
    width: 600px;
    margin: 30px auto;
    align-items: center;
}
img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}
p {
    width: 500px;
}
